html, body {
  text-align: center;
}

#app-heading {
  cursor: pointer;
}

form * {
  margin: 0.25em;
}

.error {
  color: red;
}

.stats-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
}

.left-content {
  display: flex;
  flex-flow: column wrap;
  margin: 0 0 0 2em;
}

.left-content h2 {
  text-align: left;
}

.filter {
  display: flex;
  flex-flow: column nowrap;
}

#activity-filter-select {
  width: 86.75%;
}

.links {
  display: flex;
  flex-flow: column nowrap;
  text-align: left;
}

.links a {
  display: flex;
  align-items: center;
  margin: 0.125em 0 0 0;
}

.links img {
  max-width: 16px;
  margin-right: 0.16em;
}

.character-list {
  display: flex;
  flex-flow: row nowrap;
}

.all-characters {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.all-characters-button {
  width: 300px;
  height: 60.75px;
}

.character {
  display: flex;
  flex-flow: row nowrap;
  cursor: pointer;
  margin: 1em 0 1em 0;
}

.character:hover {
  opacity: 0.9;
}

.character-emblem {
  vertical-align: top;
  width: 300px;
  height: auto;
}

.character-info {
  display: flex;
  flex-direction: column;
  color: #FFF;
  padding: 0;
  width: 240px;
  height: auto;
  position: absolute;
  text-align: left;
  margin: 0.25em 0 0 3.25em;
}

.character-info small {
  color: gray;
  font-size: 12px;
}

.character-class-light {
  display: flex;
  justify-content: space-between;
}

.character-class-light strong {
  font-size: 20px;
  color: yellow;
}

.arrow-right {
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid gray;
  border-right: 0;
  margin: 0 0 0 1em;
}

.right-content {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}

.stats {
  display: flex;
  flex-flow: column wrap;
}

.name-code {
  color: #479CE4;
}

.spinner {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 2em 0 0 0;
}

.spinner span {
  margin: 0.5em;
}

.stat-section-container {
  /* text-align: left; */
  margin: 0 3em;
}

.stat-section {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
}

.weapon-options * {
  margin: 0.5em;
}

.stat {
  flex-basis: 20%;
  padding: 1em;
}

.footer {
  display: flex;
  flex-flow: column wrap;
  margin: 1em 0 0 0;
}

@media (min-width: 500px) {
  .stats-container {
    flex-flow: row nowrap;
  }

  .stat-section {
    justify-content: flex-start;
  }
}