html, body {
  text-align: center;
}

#app-heading {
  cursor: pointer;
}

.error {
  color: red;
}

.stats {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.stat-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.stat {
  flex-basis: 20%;
  padding: 1.5em;
}