html, body {
  text-align: center;
}

.error {
  color: red;
}

.stats {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.stat-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* margin: 1em; */
}

.stat {
  flex-basis: 20%;
  padding: 1em;
  margin: 0.5em;
}